/* body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.main{
    width: 640px;
    margin: 50px auto;
    position: relative;
}
.sub{
    position: absolute;
  text-align: center;
top:100px;
color: white;
}
.main-img{
width: 100%;
border-radius: 18px;
}
.btn{
border: none;
font-size: 12px;
border-radius: 80px;
padding: 16px 30px;
background-color: white;
}

/* .card{
    width: 270px;
    border: 1px solid lightgray;
    border-radius: 14px;
    padding: 10px;
    margin: 10px auto;
}
.card-img{
    width: 100%;
    border-radius: 14px;
}
.banner{
    background-color: white;
    position: sticky;
    top: 0;
} */
 /* .card{
    width: 300px;
border: 1px solid gray;
padding: 12px;
margin: 10px auto;
border-radius: 14px;
 }
 .card-img{
    width: 100%;
    border-radius: 10px;
 }
 .banner{
background-color: aqua;
position: sticky;
top: 0;

 }  */
   /* day 3 */
   body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.card{
    width: 244px;
    padding: 10px;
    border: 1px solid lightgray;
    border-radius: 14px;
}
.card-img{
    width: 100%;
    border-radius: 14px;
}
.parent{
    display: flex;
    gap: 14px;
    justify-content: center;
    flex-wrap: wrap;
}
/* .flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
} */
/*  justify-content is used to move the flex elements in the horizontal direaction */
/*  align-items is used to move the flex elements in the vertical direaction */
.pizzaHouse{
justify-content: center;
display: flex;
flex-wrap: wrap;
gap: 10px;
}
.pizzaHouse-img{
    width: 100%;
   border-radius: 14px;
}
.pizza{
width: 240px;
border: 1px solid rgb(219, 219, 219);
border-radius: 10px;
padding: 10px;
}
.save{
    display: flex;
   align-items: center;
   justify-content: space-between;

}
body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
@media (min-width: 990px) {
  .container {
    width: 990px;
    margin: 60px auto;
    display: flex;
    gap: 40px;
    transition: 1s;
  }
  .feed {
    width: 560px;
    border: 1px solid lightgray;
    border-radius: 14px;
    padding: 10px;
    margin-bottom: 24px;
    transition: 1s;
  }
  .feed-img {
    width: 100%;
    border-radius: 14px;
    transition: 1s;
  }
  .profile {
    display: flex;
    gap: 8px;
    align-items: center;
    margin-bottom: 16px;
    transition: 1s;
  }
  .user {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    transition: 1s;
  }
  .username {
    color: gray;
  }
  .reactions {
    display: flex;
    justify-content: space-between;
    transition: 1s;
  }
  .reactions-left {
    display: flex;
    gap: 16px;
  }
  .story-container {
    display: flex;
    width: 990px;
    margin: 60px auto;
    gap: 16px;
    transition: 1s;
  }
  .story {
    text-align: center;
    transition: 1s;
  }
  .story-img {
    width: 90px;
    height: 90px;
    object-fit: cover;
    border-radius: 50%;
  }
  .name {
    font-size: 14px;
  }
  .logo {
    color: rgb(57, 57, 57);
  }
  .navbar {
    width: 990px;
    margin: 10px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: 1s;
  }
  .btn {
    background-color: #fff;
    border: 1px solid lightgray;
    border-radius: 8px;
    padding: 12px 22px;
    font-size: 16px;
    transition: 1s;
  }
  .sidebar-title {
    margin-top: 0;
  }
  .links {
    display: flex;
    gap: 6px;
  }
  .link {
    height: 42px;
  }
}

/* small screen */

@media (max-width: 989px) {
  .container {
   
    margin: 60px auto;
    transition: 1s;
   
  }
  .feed {
   
    border: 1px solid rgb(222, 222, 222);
    border-radius: 14px;
    padding: 10px;
    margin: 16px 8px;
    transition: 1s;
  }
  .feed-img {
    width: 100%;
    border-radius: 14px;
    transition: 1s;
  }
  .profile {
    display: flex;
    gap: 8px;
    align-items: center;
    margin-bottom: 16px;
    transition: 1s;
  }
  .user {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    transition: 1s;
  }
  .username {
    color: gray;
    transition: 1s;
  }
  .reactions {
    display: flex;
    justify-content: space-between;
    transition: 1s;
  }
  .reactions-left {
    display: flex;
    gap: 16px;
    transition: 1s;
  }
  .story-container {
    display: flex;
    width: 100%;
    margin: 60px auto;
    overflow-x: scroll;
    gap: 16px;
    transition: 1s;
  }
  .story-container::-webkit-scrollbar {
  display: none;
}

  .story {
    text-align: center;
    transition: 1s;
  }
  .story-img {
    width: 70px;
    height: 70px;
    object-fit: cover;
    border-radius: 50%;
    transition: 1s;
  }
  .name {
    font-size: 14px;
    transition: 1s;
  }
  .logo {
    color: rgb(57, 57, 57);
    transition: 1s;
  }
  .navbar {
   
    margin: 10px 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: 1s;
  }
  .btn {
    background-color: #fff;
    border: 1px solid lightgray;
    border-radius: 80px;
    padding: 10px 16px;
    font-size: 15px;
    transition: 1s;
  }
  .sidebar{
    margin: 8px;
    text-align: center;
    transition: 1s;
  }
  .sidebar-title {
    margin-top: 0;
    transition: 1s;
  }
  .links {
    display: flex;
    gap: 8px;
    justify-content: center;
    transition: 1s;
  }
  .link {
   height: 42px;
   transition: 1s;
  }
}

